@import "variables";


@for $i from 1 through $grid-columns {
    
      .column-#{$i} {
        width: 100% / $grid-columns * $i;
        float: left;
        min-height: 1px;
      }
    }
    
    //MOBILE GRID
    
    //Desktop XS
    @media all and($desktop-xs) {
    
      @for $i from 1 through $grid-columns {
    
        .large-#{$i} {
          width: 100% / $grid-columns * $i;
          float: left;
          min-height: 1px;
        }
      }
    
    }
    
    //Tablet
    @media all and($tablet) {
    
      @for $i from 1 through $grid-columns {
    
        .medium-#{$i} {
          width: 100% / $grid-columns * $i;
          float: left;
          min-height: 1px;
        }
      }
    
    }
    
    //Mobile
    @media all and($phone-xl) {
    
      @for $i from 1 through $grid-columns {
    
        .small-#{$i} {
          width: 100% / $grid-columns * $i;
          float: left;
          min-height: 1px;
        }
      }
    }
    
    //Mobile small
    @media all and($phone-xs) {
    
      @for $i from 1 through $grid-columns {
    
        .xsmall-#{$i} {
          width: 100% / $grid-columns * $i;
          float: left;
          min-height: 1px;
        }
      }
    }
    